
$profile_icon_size: 40px;
$border-base-color: #25353b;
$text-color-white: #ffffff;
$text-color-gray: #707070;
$icon-color-gray: #8a8488;
$border-color: #49363c;
$color-purple: #6d3bff;
$black-input-bg: #0b131e;